@model E_Requisition.Models.User
@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Logon</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
                <legend>登入</legend>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        @Html.ValidationSummary()
                    </div>
                }

                @using (Html.BeginForm("Logon", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(x => x.name, new { @class = "span4", placeholder = "帳號", AutoComplete = "Off", tabindex = "1" })
                    @Html.PasswordFor(x => x.password, new { @class = "span4", placeholder = "密碼", AutoComplete = "Off", tabindex = "2" })
                    <div style="padding-top: 10px;">
                        <button type="submit" name="submit" class="btn btn-primary">登入</button>
                        <button type="button" name="reset" class="btn">清除</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.0.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#name').focus();
            $('button[name=reset]').click(function () {
                $('#name').val('');
                $('#password').val('');
            });
        });
    </script>
</body>
</html>